.resources
  padding-bottom 80px
  max-width none
  background-color #f4f7fb
  .section-caption
    height 126px
    line-height 126px
    display inline-block
    width 100%
    border-bottom 1px solid #dde1e6
  .resource-card-container
    flex-wrap wrap
    justify-content flex-start
    margin-top 40px
    @media (max-width 943px)
      justify-content space-between
    @media (max-width 919px)
      justify-content center
    .resource-card
      @media screen and (min-width 1210px)
          &:nth-child(3n+2)
            margin 0 32px
      @media screen and (max-width 1200px)
          &:nth-child(odd)
            margin-right 20px
      @media (max-width 943px) and (min-width 920px)
        &:nth-child(odd)
            margin-right 8px
      @media (max-width 910px)
        &:nth-child(odd)
            margin-right 0

          margin 10px 0
      &:hover
        box-shadow 0px 0px 12px 0px #dadde2
      &:before
        position absolute
        width 9px
        height 9px
        border-bottom 1px solid #424858
        border-left 1px solid #424858
        transform rotate(225deg)
        content ''
        top 43px
        right 43px
      
      position relative
      width 352px
      height 173px
      margin-bottom 32px
      background-color #fff
      border-radius 7px
      @media screen and (max-width 1200px)
        width 448px
      &:hover
        .label, .link
          color #0e52e5
        .label:before
          border-bottom 1px solid #0e52e5
          border-left 1px solid #0e52e5
      a
        display block
        width 100%
        height 100%
      .label
        max-width 260px
        position absolute
        display block
        top 40px
        left 32px
        font-size 16px      
        font-weight 600
        color #414757
        @media (max-width 360px)
          max-width 177px  
      .link  
        position absolute
        display block
        color #1f50b9
        font-size 14px
        font-weight normal
        bottom 40px        
        left 32px