<section class="sub-organizations">
    <div class="container">
        <div class="flex-container">
            <h2 class="section-caption">Подведомственные организации</h2>
        </div>
        {% include 'views/cards.njk' %}
        <div class="more clearfix">
            <div class="more-sub-org">
                <a href="#">Показать все организации</a>
            </div>
        </div>
    </div> 
</section>