<section class="introduction">
    <div class="flex-container">
        <h1 class="title">
            <span>Министерство транспорта, энергетики и связи</span>
            <br>
            <span class="republic">Республика Дагестан</span>
        </h1>
        <div class="intro-menu">
            <ul>
                <li>
                    <a href="#">Календарь событий</a>
                </li>
                <li>
                    <a href="#">Госсударственная служба</a>
                </li>
                <li>
                    <a href="#">Транспортный комплекс</a>
                </li>
            </ul>
        </div>
    </div>
</section>