{% set card = [
    {
        'link': '/',
        'name': 'Дагестанцы против терроризма'
    },
    {
        'link': '/',
        'name': 'Электронные услуги'
    },
    {
        'link': '/',
        'name': 'Социальная поддержка граждан, попавших в трудную жизненную ситуацию'
    },
    {
        'link': '/',
        'name': 'Реформа контрольной и надзорной деятельности'
    },
    {
        'link': '/',
        'name': 'Реформа контрольной и надзорной деятельности'
    }
]%}

<div class="flex-container card-container">
    {% for item in card %}
        <div class="card">
            <a href="{{item.link}}">
                <p>{{item.name}}</p>
            </a>
        </div>
    {% endfor %}
</div>