{% set list = [
		{
		"dropdown": [
				{
					'name': 'О министерстве',
					'link': 'about.html'
				},
				{
					'name': 'Полномочия и функции',
					'link': '/'
				},
				{
					'name': 'Руководство',
					'link': 'leadership.html'
				},
				{
					'name': 'Структура',
					'link': '/'
				},
				{
					'name': 'Подведомственные организации',
					'link': '/'
				},
				{
					'name': 'Координационные и совещательные органы',
					'link': '/'
				},
				{
					'name': 'О министерстве',
					'link': '/'
				}
			]
		},
		{
		"dropdown": [
				{
					'name': 'Пресс-центр',
					'link': '/'
				},
				{
					'name': 'Полномочия и функции',
					'link': '/'
				},
				{
					'name': 'Руководство',
					'link': '/'
				},
				{
					'name': 'Структура',
					'link': '/'
				},
				{
					'name': 'Подведомственные организации',
					'link': '/'
				},
				{
					'name': 'Координационные и совещательные органы',
					'link': '/'
				},
				{
					'name': 'О министерстве',
					'link': '/'
				}
			]
		},
		{
		"dropdown": [
				{
					'name': 'Деятельность',
					'link': '/activities.html'
				},
				{
					'name': 'Полномочия и функции',
					'link': '/'
				},
				{
					'name': 'Руководство',
					'link': '/'
				},
				{
					'name': 'Структура',
					'link': '/'
				},
				{
					'name': 'Подведомственные организации',
					'link': '/'
				},
				{
					'name': 'Координационные и совещательные органы',
					'link': '/'
				},
				{
					'name': 'О министерстве',
					'link': '/'
				}
			]
		},
		{
		"dropdown": [
				{
					'name': 'Документы',
					'link': '/'
				},
				{
					'name': 'Полномочия и функции',
					'link': '/'
				},
				{
					'name': 'Руководство',
					'link': '/'
				},
				{
					'name': 'Структура',
					'link': '/'
				},
				{
					'name': 'Подведомственные организации',
					'link': '/'
				},
				{
					'name': 'Административные регламенты, стандарты государственных услуг',
					'link': '/'
				},
				{
					'name': 'О министерстве',
					'link': '/'
				}
			]
		},
		{
		"dropdown": [
				{
					'name': 'Обращения граждан',
					'link': '/'
				},
				{
					'name': 'Полномочия и функции',
					'link': '/'
				},
				{
					'name': 'Руководство',
					'link': '/'
				},
				{
					'name': 'Структура',
					'link': '/'
				},
				{
					'name': 'Подведомственные организации',
					'link': '/'
				},
				{
					'name': 'Координационные и совещательные органы',
					'link': '/'
				},
				{
					'name': 'О министерстве',
					'link': '/'
				}
			]
		},
		{
		"dropdown": [
				{
					'name': 'Контакты',
					'link': 'contacts.html'
				},
				{
					'name': 'Полномочия и функции',
					'link': '/'
				},
				{
					'name': 'Руководство',
					'link': '/'
				},
				{
					'name': 'Структура',
					'link': '/'
				},
				{
					'name': 'Подведомственные организации',
					'link': '/'
				},
				{
					'name': 'Координационные и совещательные органы',
					'link': '/'
				},
				{
					'name': 'О министерстве',
					'link': '/'
				}
			]
		}
	]
%}

<div class="top-menu__dropdown">
    <div class="container">
    	{% for item in list %}
	        <ul class="top-menu__list">
	        	{% for item in item.dropdown %}
		            <li class="top-menu__item">
		            	<a href="{{item.link}}"><p>{{item.name}}</p></a>
		            </li>
	            {% endfor %}
	        </ul>
        {% endfor %}
    </div>
</div>