<section class="sitemap">
    <div class="container">
        <div class="flex-container">
            <h2 class="section-caption">Полезное</h2>
        </div>
        <div class="flex-container sitemap-container">
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">О Министерстве</a>
                    </li>
                    <li>
                        <a href="">Полномочия и функции</a>
                    </li>
                    <li>
                        <a href="">Руководство</a>
                    </li>
                    <li>
                        <a href="">Структура</a>
                    </li>
                    <li>
                        <a href="">Подведомственные организации</a>
                    </li>
                    <li>
                        <a href="">Координационные и совещательные органы</a>
                    </li>
                    <li>
                        <a href="">Государственная служба</a>
                    </li>
                    <li>
                        <a href="">Противодействие коррупции</a>
                    </li>
                </ul>
            </div>
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">Пресс-центр</a>
                    </li>
                    <li>
                        <a href="">Новости</a>
                    </li>
                    <li>
                        <a href="">Новости Республики</a>
                    </li>
                    <li>
                        <a href="">Объявления</a>
                    </li>
                    <li>
                        <a href="">Календарь мероприятий</a>
                    </li>
                    <li>
                        <a href="">Видеоматериалы</a>
                    </li>
                    <li>
                        <a href="">Фотоматериалы</a>
                    </li>
                    <li>
                        <a href="">Дагестанцы против терроризма</a>
                    </li>
                    <li>
                        <a href="">Электронные услуги</a>
                    </li>
                    <li>
                        <a href="">Социальная поддержка граждан, попавших в трудную жизненную
                            ситу
                        </a>
                    </li>
                    <li>
                        <a href="">Реформа контрольной и надзорной деятельности</a>
                    </li>
                </ul>
            </div>
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">Документы</a>
                    </li>
                    <li>
                        <a href="">Нормативные правовые акты</a>
                    </li>
                    <li>
                        <a href="">Проекты правовых актов</a>
                    </li>
                    <li>
                        <a href="">Административные регламенты, стандарты государственных
                            услуг
                        </a>
                    </li>
                    <li>
                        <a href="">Формы и образцы документов</a>
                    </li>
                    <li>
                        <a href="">Порядок обжалования нормативных правовых актов</a>
                    </li>
                    <li>
                        <a href="">Судебные решения</a>
                    </li>
                    <li>
                        <a href="">Открытые данные</a>
                    </li>
                    <li>
                        <a href="">Файлы для скачивания</a>
                    </li>
                </ul>
            </div>
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">Деятельность</a>
                    </li>
                    <li>
                        <a href="">Направления деятельности</a>
                    </li>
                    <li>
                        <a href="">Программы и проекты</a>
                    </li>
                    <li>
                        <a href="">Информационные системы, банки данных, реестры, регистры</a>
                    </li>
                    <li>
                        <a href="">Статистика и отчеты</a>
                    </li>
                    <li>
                        <a href="">Сотрудничество</a>
                    </li>
                    <li>
                        <a href="">Состоянии защиты населения и территорий от ЧС</a>
                    </li>
                    <li>
                        <a href="">Тексты выступлений и официальные заявления</a>
                    </li>
                </ul>
            </div>
            <!--</div>
            <div class="flex-container sitemap-container">-->            
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">О Министерстве</a>
                    </li>
                    <li>
                        <a href="">Полномочия и функции</a>
                    </li>
                    <li>
                        <a href="">Руководство</a>
                    </li>
                    <li>
                        <a href="">Структура</a>
                    </li>
                    <li>
                        <a href="">Подведомственные организации</a>
                    </li>
                    <li>
                        <a href="">Координационные и совещательные органы</a>
                    </li>
                    <li>
                        <a href="">Государственная служба</a>
                    </li>
                    <li>
                        <a href="">Противодействие коррупции</a>
                    </li>
                </ul>
            </div>
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">Пресс-центр</a>
                    </li>
                    <li>
                        <a href="">Новости</a>
                    </li>
                    <li>
                        <a href="">Новости Республики</a>
                    </li>
                    <li>
                        <a href="">Объявления</a>
                    </li>
                    <li>
                        <a href="">Календарь мероприятий</a>
                    </li>
                    <li>
                        <a href="">Видеоматериалы</a>
                    </li>
                    <li>
                        <a href="">Фотоматериалы</a>
                    </li>
                    <li>
                        <a href="">Дагестанцы против терроризма</a>
                    </li>
                    <li>
                        <a href="">Электронные услуги</a>
                    </li>
                    <li>
                        <a href="">Социальная поддержка граждан, попавших в трудную жизненную
                            ситу
                        </a>
                    </li>
                    <li>
                        <a href="">Реформа контрольной и надзорной деятельности</a>
                    </li>
                </ul>
            </div>
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">Документы</a>
                    </li>
                    <li>
                        <a href="">Нормативные правовые акты</a>
                    </li>
                    <li>
                        <a href="">Проекты правовых актов</a>
                    </li>
                    <li>
                        <a href="">Административные регламенты, стандарты государственных
                            услуг
                        </a>
                    </li>
                    <li>
                        <a href="">Формы и образцы документов</a>
                    </li>
                    <li>
                        <a href="">Порядок обжалования нормативных правовых актов</a>
                    </li>
                    <li>
                        <a href="">Судебные решения</a>
                    </li>
                    <li>
                        <a href="">Открытые данные</a>
                    </li>
                    <li>
                        <a href="">Файлы для скачивания</a>
                    </li>
                </ul>
            </div>
            <div class="sitemap-section">
                <ul>
                    <li>
                        <a href="">Деятельность</a>
                    </li>
                    <li>
                        <a href="">Направления деятельности</a>
                    </li>
                    <li>
                        <a href="">Программы и проекты</a>
                    </li>
                    <li>
                        <a href="">Информационные системы, банки данных, реестры, регистры</a>
                    </li>
                    <li>
                        <a href="">Статистика и отчеты</a>
                    </li>
                    <li>
                        <a href="">Сотрудничество</a>
                    </li>
                    <li>
                        <a href="">Состоянии защиты населения и территорий от ЧС</a>
                    </li>
                    <li>
                        <a href="">Тексты выступлений и официальные заявления</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>