{% set header = 'Руководство' %}

{% set card = [
	{
		'img': './images/img/leader.jpg',
		'alt': 'Умаханов Сайгидпаша Дарбишевич',
		'link': '/leadershippage.html',
		'caption': [
			{
				'name': 'Умаханов Сайгидпаша Дарбишевич	',
				'link': 'leaderpage.html'
			},
			{
				'position': 'Первый заместитель министра транспорта, энергетики и связи Республики Дагестан '
			},
			{
				'field': 'Номера телефонов:',
				'phone': '+7 (8722) 56-70-10'
			},
			{
				'mail': 'mtes@e-dag.ru ',
				'field': 'Почта:'
			}
		]
	},
	{
		'img': './images/img/leader.jpg',
		'alt': 'Умаханов Сайгидпаша Дарбишевич',
		'link': '/leadershippage.html',
		'caption': [
			{
				'name': 'Умаханов Сайгидпаша Дарбишевич	',
				'link': 'leaderpage.html'
			},
			{
				'position': 'Первый заместитель министра транспорта, энергетики и связи Республики Дагестан '
			},
			{
				'field': 'Номера телефонов:',
				'phone': '+7 (8722) 56-70-10'
			},
			{
				'mail': 'mtes@e-dag.ru ',
				'field': 'Почта:'
			}
		]
	}
]%}

<section class="leadership">
	<div class="flex-container">
		<h1 class="section-caption">{{header}}</h1>
	</div>
	<div class="flex-container">
		{% for item in card %}
			<div class="leadercard">
				<a href="{{item.link}}">
					<img class="leadercard-img" src="{{item.img}}" alt="{{item.alt}}">
				</a>
				<div class="caption">
					{% for item in item.caption %}
						<p class="caption-text">
							{% if item.name %}
								<a class="caption-link" href="{{item.link}}">{{item.name}}</a>
							{% endif %}
							{% if item.position %}
								{{item.position}}
							{% endif %}
							{% if item.phone %}
								<span class="bold">{{item.field}}</span>
								<span>{{item.phone}}</span>
							{% endif %}
							{% if item.mail %}
								<span class="bold">{{item.field}}</span>
								<span>{{item.mail}}</span>
							{% endif %}
						</p>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>