{% set header1 = 'Деятельность' %}

{% set header2 = 'Направления деятельности' %}

{% set description = 'Основными задачами Министерства транспорта, энергетики и связи Республики Дагестан являются:' %}

{% set list = [
    {
        'point': 'Разработка и выполнение планов мероприятий, направленных на реализацию законодательства Российской Федерации и Республики Дагестан в установленных сферах деятельности;'
    },
    {
        'point': 'Обеспечение целевого и эффективного использования бюджетных средств, направленных на финансирование расходов в установленных сферах деятельности;'
    },
    {
        'point': 'Обеспечение размещения заказов на выполнение работ в установленных сферах деятельности, финансирование этих работ, контроль за их выполнением и их приемка;'
    },
    {
        'point': 'Разработка и реализация программ развития транспортного комплекса Республики Дагестан;'
    },
    {
        'point': 'Организация устойчивого функционирования транспортного комплекса Республики Дагестан;'
    },
    {
        'point': 'Содействие созданию правовых и экономических условий, обеспечивающих эффективное и устойчивое функционирование организаций топливно-энергетического комплекса Республики Дагестан (далее – ТЭК РД);'
    },
    {
        'point': 'Повышение качества и надежности услуг, предоставляемых организациями ТЭК РД населению республики;'
    },
    {
        'point': 'Участие в реализации государственной политики в сфере бюджетного планирования, финансирования и ценообразования в ТЭК РД;'
    },
    {
        'point': 'Развитие нефтегазового и энергетического хозяйства Республики Дагестан;'
    },
    {
        'point': 'Участие в обеспечении реформирования и модернизации ТЭК РД;'
    },
    {
        'point': 'Реализация на территории Республики Дагестан государственной политики в сфере связи, информационных технологий и развития телекоммуникационных сетей;'
    },
    {
        'point': 'Обеспечение качественно нового уровня государственного управления за счет внедрения и широкого использования современных информационно-коммуникационных технологий, создания и развития единого информационного пространства Республики Дагестан;'
    },
    {
        'point': 'Нормативное правовое, техническое, технологическое и информационно-аналитическое обеспечение процессов развития и использования информационно-коммуникационных технологий в деятельности органов исполнительной власти Республики Дагестан;'
    },
    {
        'point': 'Обеспечение перехода органов исполнительной власти Республики Дагестан, органов местного самоуправления муниципальных образований Республики Дагестан на межведомственное информационное взаимодействие при предоставлении государственных и муниципальных услуг;'
    },
    {
        'point': 'Обеспечение повышения качества предоставления государственных и муниципальных услуг на территории Республики Дагестан, в том числе в электронном виде, а также по принципу «одного окна»;'
    },
    {
        'point': 'Содействие внедрению на территории Республики Дагестан перспективных информационно-коммуникационных технологий и стандартов;'
    },
    {
        'point': 'Повышение экономической и технической доступности для населения республиканских средств телекоммуникаций.'
    }
]%}

<section class="our-activities">
    <div class="flex-container">
        <h1 class="title">{{header1}}</h1>
    </div>
    <div class="flex-container">
        <h2 class="section-caption">{{header2}}</h2>
    </div>
    <div class="flex-container">
        <p class="description">{{description}}</p>
    </div>
    <div class="flex-container our-activities-list">  
        <ul>
            {% for item in list %}  
                <li>{{item.point}}</li>
            {% endfor %}
        </ul>
    </div>
    {% include 'views/cards.njk' %}
</section>