.our-activities
  width 100%
  .flex-container
    @media screen and (max-width 992px)
      margin 0 20px
  .title
    font-size 31px
    font-weight bold
    color #3b4256
    margin-top 60px
    border-bottom 1px solid #dde1e6
    padding-bottom 37px
    width 100%
  .section-caption 
    padding 35px 0
    font-size 25px
  .description
    font-size 20px
    color #3b4256
    margin-bottom 35px
  .our-activities-list
    padding-bottom 62px
    li
      padding-left 60px
      position relative
      color #747e89
      margin-bottom 18px
      line-height 25px
    li:before
        position absolute
        top 13px
        left 0
        background-color #97a4b1
        height 2px
        width 32px
        content ''
        font-size 16px
  .card-container
    .card
      background-color #f4f7fb
      &:hover
        background-color color-hover-card