footer
  max-width none
  background-color #3b4256
  padding-bottom 80px
  .footer-container
    flex-wrap wrap
    .phone
      margin-top 40px
      display inline-block
      width 100%

      font-size 24px
      font-weight 400
      color #ffffff
    address
      margin-top 40px
      display inline-block
      width 100%

      font-size 16px
      font-weight 400
      color #ffffff
    .soc-links
      margin-top 40px
      display inline-block
      .icon
        display inline-block
        width 33px
        height 33px
        margin-right 22px
        border-radius 50%
        box-shadow 3px 4px 16px 0px rgba(0, 0, 0, 0.12)
      .vkontakte
        background-image url(../images/icons/vk-icon.png)
      .facebook
        background-image url(../images/icons/facebook-icon.png)
      .twiter
        background-image url(../images/icons/twitter-icon.png)
      .livejournal
        background-image url(../images/icons/livejournal-icon.png)
      a
        display block
        height 100%
        width 100%
        border-radius 50%
    .copyright
      margin-top 40px
      font-size 14px
      line-height 24px
      color #747e89