.information
  background-color #f4f7fb
  max-width none
  .section-caption
    border-bottom 1px solid #dde1e6
    padding 62px 0 31px 0
    width 100%
    @media screen and (max-width 992px)
      margin 0 20px
  .card-container
    .card
      background-color #fff
      &:hover
        background color-hover-card