@import "../blocks/base/reset";
@import "../blocks/base/base";
@import "../blocks/mainheader/mainheader";
@import "../blocks/sitemap/sitemap";
@import "../blocks/footer/footer";
@import "../blocks/newsblock/newsblock";
@import "../blocks/header/header";
@import "../blocks/about/about";
@import "../blocks/information/information";
@import "../blocks/ouractivities/ouractivities";
@import "../blocks/for_citizens/for_citizens";
@import "../blocks/gallery/gallery";
@import "../blocks/resources/resources";
@import "../blocks/activities/activities";
@import "../blocks/events/events";
@import "../blocks/sub_organizations/sub_organizations";
@import "../blocks/introduction/introduction";
@import "../blocks/contacts/contacts";
@import "../blocks/leadership/leadership";
@import "../blocks/leaderpage/leaderpage";
