.logo
      display inline-block
      margin: auto 20px auto 0
      .logo-caption
        width 250px
      
      img
        float left
      .logo-caption
        display block
        padding-left 65px
        margin-top -15px
        line-height 23px
        color #3b4256
        font-size 18px
        font-weight 600
      .republic
        color #747e89
        padding-left 65px
        font-size 14px
        margin-top 10px
        display block